@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	margin: 0;
	padding: 0;
	background-color: #1a252f; /* Warna latar belakang yang lebih dalam */
}

* {
	box-sizing: border-box; /* Mencegah elemen meluap */
}
